.nav{
    list-style: none;
    padding-left: 0;

    border-style: double;

    width:50vw;
    margin: auto;

    text-align: center;
}

.nav>li {
    display: inline-block;
    border-style: hidden;
}

.nav>li>a {
    text-decoration: none;
    color: black;
}

.nav>li>a:hover{
    background-color: gold;
}